* {
	margin: 0;
	padding: 0;
}

body {
	margin-left: 100px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#mainContent {
	margin: 0px !important;
	padding: 0px 150px 0px 150px !important;
	border: 0px none !important;
}

td {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

h2 a
{
	text-decoration: none;
}

html {
	height: 100%;
}

body {
	padding: 20px;
	background: #f9f9f9 -moz-linear-gradient(top, #fff, #f4f4f4);
/*
	text-align: center;
}

#wrapper {*/
	margin: 0 auto;
	text-align: left;
	background: #f9f9f9
		-moz-linear-gradient(124deg, #fff 49%, #f9f9f9, #f9f9f9 51%, #fff);
	/*padding: 10px 20px 20px 20px;*/
	-moz-border-radius: 10px;
	/*-moz-box-shadow: 0px 0px 10px #999;
	border: 1px solid #999;*/
	height: 100%;
}

h1 {
	font-size: 24px;
	color: #333;
	margin-bottom: 7px;
	/*
	border-bottom: 1px solid #bbb;
	-moz-box-shadow: 0px 1px 5px #eee;
	*/
	padding: 5px 7px;
	
}

h2 {
	font-size: 20px;
	color: #333;
	margin-bottom: 10px;
	border-bottom: 1px solid #bbb;
	padding: 10px 15px;
	-moz-box-shadow: 0px 1px 5px #eee;
}

p.footer {
	margin: 10px 15px;
}

a {
	color: #4E6069;
}

a:hover {
	color: #D15D0A;
}

.text {
	margin-bottom: 5px;
	padding: 5px 15px;
}

.component {
	margin-bottom: 5px;
	padding: 5px 15px;
}

.manageFeeds label {
	float: left;
	width: 100px;
}

.eventDetailForm label {
	float: left;
	width: 100px;
}

.submit {
	width: auto;
}

textarea {
	width: 490px;
	display: block;
}

form.feedSelection
{
	border: none;
	margin: auto;
}

form.feedSelection .cb
{
}

form.feedSelection td.toggle
{
	width: 15px;
	height: 15px;
	background-color: #dddddd;
	text-align: center;
}

form.feedSelection span.description
{
	border: 1px solid #ccc;
	padding: 4px;
}

form {
	border: 1px solid #ccc;
	background: #f9f9f9 -moz-linear-gradient(top, #fff, #f5f5f5);
	-moz-box-shadow: 0 1px 0px #eee;
	-moz-border-radius: 5px;
	padding: 10px;
	margin: 10px 15px;
}

.loginForm
{
	padding: 0px;
	border: none;
	margin: 0px;
	-moz-box-shadow: 0 0px 0px;
}

.loginForm input
{
	width: 5em;
}

form:hover {
	border-color: #aaa;
	background: #f9f9f9 -moz-linear-gradient(top, #fff, #f1f5f5);
}

.loggedInAs
{
	float: right;
}

pre {
	border: 1px solid;
	padding: 3px;
}

.start
{
	display: block;
	width: 4em;
	float: left;
}

.datecaption
{
	font-size: .7em;
	font-weight: bold;
	font-style: italic;
}

.feedcaption
{
	font-size: .6em;
	font-weight: normal;
	font-style: normal;
	margin-left: 2.5em;
}

.eventlistevent
{
	margin-left: 3em;
}

.eventlistevent span div.summary
{
	margin-left: 3em;
}

.dayEvent div.summary
{
	margin-left: 3em;
}

.shortName
{
	font-size: .7em;
	display: block;
	width: 4em;
	float: left;
}

.feedSelection
{
}

.feedSelection label
{
	float: none;
	padding-left: 3px;
}

.feedSelection li
{
	display: block;
	list-style: none;
}

.content
{
	bottom: 0px;
}

.calendar
{
	left: 20em;
}

.detailLink
{
	font-size: 0.7em;
}

.more {
	margin: 0 auto;
	text-align: left;
	background: #f9f9f9
		-moz-linear-gradient(124deg, #fff 49%, #f9f9f9, #f9f9f9 51%, #fff);
	padding: 10px 20px 20px 20px;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #999;
	border: 1px solid #999;
	margin-left: 1em;
	margin-right: 1em;
}

.ui-layout-north
{
	padding: 7px !important; margin: 0px;
}

img
{
	border: none;
}

.more .extra
{
	visibility: hidden;
}

.more:hover .extra
{
	visibility: visible;
}

.more li
{
	list-style: none;
}

.aka
{
	padding-left: 2em;
}

.dayBlock
{
	width: 33%;
	float: left;
}

.weekView table
{
	width: 100%;
}

.weekView td
{
	vertical-align: top;
	width: 33%;
}

.selected
{
	background-color: #EEEEFF;
}

.menubar
{
	width: 100%;
}

.menubar td
{
	vertical-align: center;
}

.menubar .login
{
	text-align: right;
}

.menu
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-left: 3em;
}

.menu li
{
	float: left;
}

.menu a
{
	letter-spacing:2px;
	text-transform:uppercase;
	border-width:1px;
	padding:0.436em 0.836em 0.536em 0.836em;
	background-color: #efefef;
	color: #111111;
	text-decoration: none;
	font-size: 0.9em;
	line-height:1.273em;
	border-style: solid;
	border-color: #dddddd;
}

.menu em
{
	letter-spacing:2px;
	text-transform:uppercase;
	border-width:1px;
	padding:0.436em 0.836em 0.536em 0.836em;
	color: #111111;
	text-decoration: none;
	font-size: 0.9em;
	line-height:1.273em;
	border-style: solid;
	border-color: #dddddd;
}

.menu a:hover
{
	background-color: #dddddd;
}

.footer
{
	vertical-align: middle;
	padding: 2px !important; margin: 0px;
}

.footer *
{
	vertical-align: middle;
}

.editDesc
{
	padding: 10px;
}

.topRightLinks
{
	position: absolute;
	top: 10px;
	right: 10px;
}

.dateSelect
{
	display: none;
}

.break
{
	clear: both;
}

.viewHeader
{
	width: 100%;
}

.viewHeader div
{
	width: 33%;
	float: left;
}

.addthis
{
	margin-top: 3px;
}

#center
{
	border-color: white !important;
}
.ui-layout-north
{
	border-color: white !important;
}
.ui-layout-south
{
	border-color: white !important;
}
.ui-layout-toggler-west
{
	background: transparent url(/kies_bronnen.png) no-repeat scroll center center !important;
}