<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    ">
    
   	<bean id="feedService" class="net.bzzt.ical.aggregator.service.impl.FeedServiceImpl">
	</bean>

   	<bean id="userService" class="net.bzzt.ical.aggregator.service.impl.UserServiceImpl">
	</bean>
	
	<bean id="reloadFeedsTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
	    <!-- see the example of method invoking job above -->
	    <property name="jobDetail" ref="reloadFeedsJobDetail" />
	    <!-- 20 seconds -->
	    <property name="startDelay" value="20000" />
	    <!-- repeat every 12 hours -->
	    <property name="repeatInterval" value="43200000" />
	</bean>
	
	<bean id="reloadFeedsJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  		<property name="targetObject" ref="feedService"/>
  		<property name="targetMethod" value="reloadFeeds"/>
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	        <list>
	            <ref bean="reloadFeedsTrigger" />
	        </list>
	    </property>
	</bean>
	
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
       <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean> 
    
     <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    <tx:annotation-driven/> 
    
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
       <property name="driverClass" value="org.hsqldb.jdbcDriver"/>
       <property name="jdbcUrl" value="jdbc:hsqldb:file:testdb"/>
       <property name="user" value="sa"/>
       <property name="password" value=""/>
    </bean> 
	
	<bean id="vendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
       <!-- property name="databasePlatform" value="${platform}"/ -->
       <property name="showSql" value="false"/>
       <property name="generateDdl" value="true"/>
    </bean>
    
	<bean id="entityManagerFactory"
class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
       <property name="persistenceUnitName" value="aggregatorPersistenceUnit"/>
       <property name="dataSource" ref="dataSource"/>
       <property name="loadTimeWeaver" ref="loadTimeWeaver"/>
       <property name="jpaVendorAdapter" ref="vendorAdapter"/>
    </bean> 
    
    <bean id="loadTimeWeaver" class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
    
    
</beans>
